[submodule "Framework/Heirloom/Drawing/External/StbTrueTypeSharp"]
	path = Framework/Heirloom/Drawing/External/StbTrueTypeSharp
	url = https://github.com/StbSharp/StbTrueTypeSharp.git
[submodule "Framework/Heirloom/Drawing/External/StbImageSharp"]
	path = Framework/Heirloom/Drawing/External/StbImageSharp
	url = https://github.com/StbSharp/StbImageSharp.git
[submodule "Framework/Heirloom/Drawing/External/StbImageWriteSharp"]
	path = Framework/Heirloom/Drawing/External/StbImageWriteSharp
	url = https://github.com/StbSharp/StbImageWriteSharp.git
[submodule "Framework/Heirloom/Drawing/External/StbImageResizeSharp"]
	path = Framework/Heirloom/Drawing/External/StbImageResizeSharp
	url = https://github.com/StbSharp/StbImageResizeSharp.git
