<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="ca.cchamberlain.examples.stencil" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="22" android:targetSdkVersion="30" />
  <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"  android:roundIcon="@mipmap/ic_launcher" android:supportsRtl="true"  ></application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>